.example-import {
  padding: 8px 16px 0;

  &__excel {
    padding-top: 160px;
  }

  &__summary {
    text-align: right;
    &-num {
      font-size: 16px;
      font-weight: 500;
    }
  }
  &__footer {
    margin-top: 16px;
    text-align: center;

    &__max-count {
      margin-bottom: 8px;
    }
  }
}
