@primary-color: #1890ff;

.logo {
  width: 100px;
  height: auto;
  margin: 20px;
}

.background {
  // background-image: url('./background.png');
  background-size: cover;
  padding: 20px;
  border: 1px solid @primary-color;
}
